@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--pRed: hsl(0, 100%, 74%);
	--pGreen: hsl(154, 59%, 51%);
	--pGreenDark: #258a5e50;
	--pBlue: hsl(248, 32%, 49%);
	--pDarkBlue: hsl(249, 10%, 26%);
	--pGrayishBlue: hsl(246, 25%, 77%);
}

@layer components {
	.form-error {
		height: 20px !important;
		opacity: 1 !important;
		transform: translateY(0) !important;
		margin-bottom: 5px;
	}
}
